{% extends 'core/base.html' %}

{% load static %}
{% load humanize %}


{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="container" style="min-height: 90vh;">

    <div class="" style="text-align: start;">
        <h1 class="text-light p-3" style="margin-top: 70px;"><b></b></h1>
    </div>
    <div class="card border-light">


    <div class="card-header bg-primary text-white">
        <h1 class="text-white">Balance</h1>
    </div>
    <div class="card-body">  
        <!-- Tarjetas -->
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12" style="font-size: large;">                
                <div class="card border-primary">
                    <div class="card-header bg-primary">
                        <b>
                            $ inventario
                        </b>
                    </div>
                    <div class="card-body">
                        <div class="h5 mb-0 font-weight-bold text-danger">
                            $ {{ valuacion_inventario|intcomma }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12" style="font-size: large;">                
              <div class="card  border-primary">
                  <div class="card-header bg-primary">
                      <b>
                          $ Gastos Mes actual
                      </b>
                  </div>
                  <div class="card-body">
                      <div class="h5 mb-0 font-weight-bold text-danger">
                          $ {{ gastos_mes_actual|intcomma }}
                      </div>
                  </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12" style="font-size: large;">                
              <div class="card border-primary">
                <div class="card-header bg-primary">
                    <b>
                        $ Retiros Mes actual
                    </b>
                </div>
                <div class="card-body">
                    <div class="h5 mb-0 font-weight-bold text-danger">
                        $ {{ retiros_mes_actual|intcomma }}
                    </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12" style="font-size: large;">                
              <div class="card border-primary">
                <div class="card-header bg-primary">
                    <b>
                        $ Compras Mes actual
                    </b>
                </div>
                <div class="card-body">
                    <div class="h5 mb-0 font-weight-bold text-danger">
                        $ {{ compras_mes_actual|intcomma }}
                    </div>
                </div>
              </div>
            </div>
        </div>
        <hr>
        <!-- Grafico -->
        <div class="row">
          <div class="card mb-3" style="height: 400px;">
            <div class="card-header text-light bg-primary" style="font-size: xx-large;"><b>Ventas últimos 20 dias</b></div>
              <div class="card-body">
                <canvas id="myChart"></canvas>
              </div>
          </div>
          
        </div>
        <!-- Tabla ranking productos -->
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-header text-light bg-primary" style="font-size: x-large;"><b>Top 10 | Productos más vendidos</b></div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Producto</th>
                                    <th>Cant. Vendido</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for venta in top_ventas %}
                                <tr>
                                    <td>{{ venta.producto__nombre }} {{ venta.producto__nombre }}</td>
                                    <td>{{ venta.total_ventas|intcomma }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card col-12 mb-3">
                    <div class="card-header text-light bg-primary" style="font-size: x-large;"><b>Total de ventas del dia</b></div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Caja</th>
                                    <th>Total Bolivares</th>
                                    <th>Total Dolares</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>Caja 1</td>
                                <td>$ {{ ventas_hoy_pesos_c1|intcomma }}</td>
                                <td>$ {{ ventas_hoy_usd_c1|intcomma }}</td>
                                
                              </tr> 
                              <tr>
                                <td>Caja 2</td>
                                <td>$ {{ ventas_hoy_pesos_c2|intcomma }}</td>
                                <td>$ {{ ventas_hoy_usd_c2|intcomma }}</td>
                                
                              </tr> 
                              <tr>
                                <td>Caja 3</td>
                                <td>$ {{ ventas_hoy_pesos_c3|intcomma }}</td>
                                <td>$ {{ ventas_hoy_usd_c3|intcomma }}</td>
                                
                              </tr> 
                              <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                              </tr> 
                              <tr class="bg-primary">
                                <td class="text-light">Total</td>
                                  <td class="text-light">$ {{ ventas_hoy_pesos|intcomma }}</td>
                                  <td class="text-light">$ {{ ventas_hoy_usd|intcomma }}</td>
                                  
                              </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card col-12 mb-3">
                  <div class="card-header text-light bg-primary" style="font-size: x-large;"><b>Total de ventas del mes actual</b></div>
                  <div class="card-body">
                      <table class="table table-striped">
                          <thead>
                              <tr>
                                  <th>Total Bolivares</th>
                                  <th>Total Dolares</th>
                                 
                              </tr>
                          </thead>
                          <tbody>
                              
                            <tr>
                              <td>$ {{ ventas_mes_pesos|intcomma }}</td>
                              <td>$ {{ ventas_mes_usd|intcomma }}</td>
                              
                          </tr>
                              
                          </tbody>
                      </table>
                  </div>
              </div>
            </div>
        </div>
    </div>


  </div>
</div>


<script>

  const ctx = document.getElementById('myChart');

  // Obtén las fechas en formato "DD/MM" desde Django y almacénalas en una lista
  const fechas = [{% for venta in ventas_por_dia %} '{{ venta.fecha|date:"d/m" }}', {% endfor %}];

  new Chart(ctx, {
  data: {
    labels:fechas,
    datasets: [
    {
      type: 'line',
      label: "Ventas en Bolivares",
      lineTension: 0.3,
      backgroundColor: "rgba(40, 116, 255, 0.2)", // Cambiar a azul (primary)
      borderColor: "rgba(40, 116, 255, 1)", // Cambiar a azul (primary)
      borderWidth: 2,
      pointRadius: 3,
      pointBackgroundColor: "rgba(40, 116, 255, 0.2)", // Cambiar a azul (primary)
      pointBorderColor: "rgba(40, 116, 255, 1)", // Cambiar a azul (primary)
      pointHoverRadius: 3,
      pointHoverBackgroundColor: "rgba(40, 116, 255, 1)", // Cambiar a azul (primary)
      pointHoverBorderColor: "rgba(40, 116, 255, 0.2)", // Cambiar a azul (primary)
      pointHitRadius: 10,
      pointBorderWidth: 2,
      data: [{% for venta in ventas_por_dia %} {{ venta.total_ventas|floatformat:0 }}, {% endfor %}],
    },
    {
      type: 'line',
      label: "Ventas en Dolares",
      lineTension: 0.3,
      backgroundColor: "rgba(255, 10, 0, 0.2)", // Cambiar a azul (primary)
      borderColor: "rgba(255, 10, 0, 1)", // Cambiar a azul (primary)
      borderWidth: 2,
      pointRadius: 3,
      pointBackgroundColor: "rgba(255, 10, 0, 0.2)", // Cambiar a azul (primary)
      pointBorderColor: "rgba(255, 10, 0, 1)", // Cambiar a azul (primary)
      pointHoverRadius: 3,
      pointHoverBackgroundColor: "rgba(255, 10, 0, 1)", // Cambiar a azul (primary)
      pointHoverBorderColor: "rgba(255, 10, 0, 0.2)", // Cambiar a azul (primary)
      pointHitRadius: 10,
      pointBorderWidth: 2,
      data: [{% for venta in ventas_por_dia_usd %} {{ venta.total_ventas|floatformat:0 }}, {% endfor %}],
    }
    ]
  },
  
  options: {
    maintainAspectRatio: false,
    layout: {
      padding: {
        left: 10,
        right: 25,
        top: 25,
        bottom: 0
      }
    },
    scales: {
      xAxes: [{
        time: {
          unit: 'date'
        },
        gridLines: {
          display: true,
          drawBorder: true
        },
        scaleLabel: {
          display: true,
          labelString: 'Fecha (DD/MM)', // Etiqueta del eje x
        },
        ticks: {
          maxTicksLimit: 20
        }
      }],
      yAxes: [{
        ticks: {
          maxTicksLimit: 5,
          padding: 10,
          // Include a dollar sign in the ticks
          callback: function(value, index, values) {
            return '$' + number_format(value / 1000000, 0) + 'M';
    }
        },
        gridLines: {
          color: "rgb(234, 236, 244)",
          zeroLineColor: "rgb(234, 236, 244)",
          drawBorder: false,
          borderDash: [2],
          zeroLineBorderDash: [2]
        }
      }],
    },
    legend: {
      display: true
    },
    tooltips: {
      backgroundColor: "rgb(255,255,255)",
      bodyFontColor: "#858796",
      titleMarginBottom: 10,
      titleFontColor: '#6e707e',
      titleFontSize: 14,
      borderColor: '#dddfeb',
      borderWidth: 1,
      xPadding: 15,
      yPadding: 15,
      displayColors: false,
      intersect: false,
      mode: 'index',
      caretPadding: 10,
      callbacks: {
        label: function(tooltipItem, chart) {
          var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
          return datasetLabel + ': $' + number_format(tooltipItem.yLabel);
        }
      }
    },
    plugins: {
    datalabels: {
      anchor: 'end',
      align: 'end',
      font: {
        size: 14,
      }
    }
  },
  }
});

</script>

{% endblock %}