{% extends 'admin/base_site.html' %}
{% load static %}
{% block content %}

    <!-- Custom styles -->
    <link href="{% static 'sb-admin/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="{% static 'sb-admin/css/sb-admin-2.min.css' %}" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="{% static 'sb-admin/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="{% static 'sb-admin/css/sb-admin-2.min.css' %}" rel="stylesheet">
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}" ></script>
    


<div class="container-fluid">
  <div class="" style="text-align: start;">
    <h1 class="text-light p-3" style="margin-top: 180px;"><b></b></h1>
  </div>
    <div class="card p-3">
      <div class="row align-items-start">
        

        <div class="col-md-12 col-sm-12">
          <div class="row justify-content-between">
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-4 col-md-12 mb-12">
              <div class="card border-left-warning shadow py-2" style="margin: 20px;">
                  <div class="card-body">
                      <div class="row no-gutters align-items-center">
                          <div class="col mr-2">
                              <div class="text-xl font-weight-bold text-warning text-uppercase mb-1">
                                  Total Hoy</div>
                              <div class="h3 mb-0 font-weight-bold text-gray-800">${{ total_hoy }}</div>
                          </div>
                          <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="card border-left-success shadow py-2 b-3" style="margin: 20px;">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xl font-weight-bold text-success text-uppercase mb-1">
                                Total Mensual</div>
                            <div class="h3 mb-0 font-weight-bold text-gray-800">${{ total_mensual }}</div>
                        </div>
                        <div class="col-auto">
                          <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-xl-8 col-md-12 mb-12">
              <div class="card shadow mb-4">
                <div class="card-body" style="height: 300px;">
            
                    
                </div>
            </div>
  
            </div>
          </div>
          <div class="card mb-12">
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                            <th>Subtotal</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for detalle_venta in detalles_venta %}
                        <tr>
                            <td>{{ detalle_venta.producto }}</td>
                            <td>{{ detalle_venta.cantidad }}</td>
                            <td>${{ detalle_venta.precio }}</td>
                            <td>${{ detalle_venta.get_total }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        </div>


      </div>
    </div>
  </div>
  
  
  
  <script>
    // Crea el gráfico utilizando Chart.js
    function createChart() {
  
      var ctx = document.getElementById('Grafico_gastos_por_mes_barras').getContext('2d');
  
      new Chart(ctx, {
        type: 'bar',
        data: {
          labels: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
          datasets: [
            {
              label: 'Gastos Pagados totales',
              data: [{% for data in Pagados_lista %} {{ data.total|floatformat:0 }}, {% endfor %}],
              backgroundColor: 'rgba(255, 0, 0, 0.2)',
              borderColor: 'rgba(255, 0, 0)',
              borderWidth: 1
            },
            {
            label: 'Gastos Pagados por Tesoro (1.1.0)',
            data: [{% for data in Pagados_lista_tesoro %} {{ data.total|floatformat:0 }}, {% endfor %}],
            type: 'line',
            backgroundColor: 'rgba(0, 250, 50, 0.2)',
            borderColor: 'rgba(0, 250, 50)',
            borderWidth: 3
          }
          ]
        },
        
        options: {
          responsive: true,
          maintainAspectRatio: false
        }
      });
    }
  
    // Crea el gráfico utilizando Chart.js
  function createChart2() {
  
  var ctx = document.getElementById('grafico_torta').getContext('2d');
  
  new Chart(ctx, {
    type: 'bar',
    data: {
      labels:  [{% for proveedor in tabla_proveedores %}'{{ proveedor.proveedor }}',{% endfor %}],
      datasets: [
        { 
          label: "",
          
          data: [{% for proveedor in tabla_proveedores %}{{ proveedor.total|floatformat:0 }},{% endfor %}],
            backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(255, 159, 64, 0.2)',
            'rgba(255, 205, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(201, 203, 207, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(153, 152, 255, 0.2)',
            'rgba(101, 123, 107, 0.2)'
            ],
            borderColor: [
            'rgba(255, 99, 132)',
            'rgba(255, 159, 64)',
            'rgba(255, 205, 86)',
            'rgba(75, 192, 192)',
            'rgba(54, 162, 235)',
            'rgba(153, 102, 255)',
            'rgba(201, 203, 207)',
            'rgba(54, 162, 235)',
            'rgba(153, 152, 255)',
            'rgba(101, 123, 107)'
            ],
            borderWidth: 1
            
        },
        
      ]
    },
    options: {
      responsive: true,
      maintainAspectRatio: false,
      indexAxis:'y',
      plugins: {
        legend: {
          display: false // Oculta la leyenda
        }
    }
    }
  });
  }
  
  
    
  function createChart3() {
  
    var ctx = document.getElementById('grafico_ffinanciamiento').getContext('2d');
  
    new Chart(ctx, {
      type: 'pie',
      data: {
        labels:  [{% for ffinanciamiento in tabla_ffinanciamiento %}'{{ ffinanciamiento.ffinanciamiento }}',{% endfor %}],
        datasets: [
          { 
            label: "Total pagado",
            data: [{% for ffinanciamiento in tabla_ffinanciamiento %}{{ ffinanciamiento.total|floatformat:0 }},{% endfor %}],
              backgroundColor: [
              'rgba(255, 99, 132, 0.2)',
              'rgba(255, 159, 64, 0.2)',
              'rgba(255, 205, 86, 0.2)',
              'rgba(75, 192, 192, 0.2)',
              'rgba(54, 162, 235, 0.2)',
                ],
              borderColor: [
              'rgba(255, 99, 132)',
              'rgba(255, 159, 64)',
              'rgba(255, 205, 86)',
              'rgba(75, 192, 192)',
              'rgba(54, 162, 235)',
                ],
              borderWidth: 1
          },
          
        ]
      },
      options: {
        responsive: true,
        maintainAspectRatio: false
      }
    });
    }
  
    // Cuando se carga la página, crea el gráfico
    document.addEventListener('DOMContentLoaded', function() {
      createChart();
      createChart2();
      createChart3();
      createChart4();
      createChart5();
  });
  
    // Función para cargar los datos de la página seleccionada
    function loadPage(pageNumber) {
      $.ajax({
        url: '/dashboard/proveedores/',  // Ruta de la vista Django para cargar los datos de la página
        method: 'GET',
        data: { page: pageNumber },
        dataType: 'json',
        success: function(response) {
          // Actualiza la tabla de proveedores con los datos de la página
          var tableBody = '';
          response.proveedores.forEach(function(proveedor) {
            tableBody += '<tr><td>' + proveedor.proveedor + '</td><td>$ ' + proveedor.total + ' M</td></tr>';
          });
          $('#proveedores-table tbody').html(tableBody);
  
          // Actualiza el gráfico correspondiente con los datos de la página
          // Código para actualizar el gráfico...
  
          // Actualiza los botones de paginación
          var paginationButtons = '';
          for (var i = 1; i <= response.totalPages; i++) {
            if (i === response.currentPage) {
              paginationButtons += '<button class="btn btn-primary">' + i + '</button>';
            } else {
              paginationButtons += '<button class="btn btn-outline-primary" onclick="loadPage(' + i + ')">' + i + '</button>';
            }
          }
          $('#pagination-buttons').html(paginationButtons);
        },
        error: function(error) {
          console.log(error);
        }
      });
    }
  
    // Carga la primera página al cargar la página inicialmente
    $(document).ready(function() {
      loadPage(1);
    });
  
  function createChart4() {
  
  var ctx = document.getElementById('grafico_prestamosBarHorizontal').getContext('2d');
  
  new Chart(ctx, {
    type: 'bar',
    data: {
      labels:  [{% for fondo in prestamo_fondo_tabla %}'{{ fondo.Fondo }}',{% endfor %}],
      datasets: [
        { 
          label: "",
          
          data: [{% for fondo in prestamo_fondo_tabla %}{{ fondo.total|floatformat:0 }},{% endfor %}],
            backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(255, 159, 64, 0.2)',
            'rgba(255, 205, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(201, 203, 207, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(153, 152, 255, 0.2)',
            'rgba(101, 123, 107, 0.2)'
            ],
            borderColor: [
            'rgba(255, 99, 132)',
            'rgba(255, 159, 64)',
            'rgba(255, 205, 86)',
            'rgba(75, 192, 192)',
            'rgba(54, 162, 235)',
            'rgba(153, 102, 255)',
            'rgba(201, 203, 207)',
            'rgba(54, 162, 235)',
            'rgba(153, 152, 255)',
            'rgba(101, 123, 107)'
            ],
            borderWidth: 1
            
        },
        
      ]
    },
    options: {
      responsive: true,
      maintainAspectRatio: false,
      indexAxis:'y',
      plugins: {
        legend: {
          display: false // Oculta la leyenda
        }
    }
    }
  });
  }
  
  
  function createChart5() {
  
  var ctx = document.getElementById('grafico_prestamosPie').getContext('2d');
  
  new Chart(ctx, {
    type: 'pie',
    data: {
      labels:  [{% for fondo in prestamo_fondo_tabla %}'{{ fondo.Fondo }}',{% endfor %}],
      datasets: [
        { 
          label: "",
          
          data: [{% for fondo in prestamo_fondo_tabla %}{{ fondo.total|floatformat:0 }},{% endfor %}],
            backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(255, 159, 64, 0.2)',
            'rgba(255, 205, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(201, 203, 207, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(153, 152, 255, 0.2)',
            'rgba(101, 123, 107, 0.2)'
            ],
            borderColor: [
            'rgba(255, 99, 132)',
            'rgba(255, 159, 64)',
            'rgba(255, 205, 86)',
            'rgba(75, 192, 192)',
            'rgba(54, 162, 235)',
            'rgba(153, 102, 255)',
            'rgba(201, 203, 207)',
            'rgba(54, 162, 235)',
            'rgba(153, 152, 255)',
            'rgba(101, 123, 107)'
            ],
            borderWidth: 1
        },
      ]
    },
    options: {
      responsive: true,
      maintainAspectRatio: false,
      indexAxis:'y',
      plugins: {
        legend: {
          display: true,
           // Oculta la leyenda
        }
    }
    }
  });
  }
  </script>


{% endblock %}