{% extends 'core/base.html' %}

{% load static %}
{% load humanize %}
{% block content %}





<div class="container">
    <div class="" style="text-align: start;">
        <h1 class="text-light p-3" style="margin-top: 70px;"><b></b></h1>
    </div>
    <div class="row" style="min-height: 80vh;">
        <div class="card p-3" style="border: none;">

            <div class="row">
                <!-- Colocar el texto a la derecha -->
                <div class="col-6 card p-3" style="border: none;text-align: center;">
                    <div class="row mt-3">   
                        <div class="col-6">
                            <h6 class="text-dark">Venta # {{ venta.codigo }}</h6>
                        </div>
                        <div class="col-6">
                            <h5 class="text-success">Items : {{ venta.get_cart_items|floatformat:0|intcomma }}</h5>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <h2 class="text-danger"><b class="text-dark">Total Pesos :</b> $ {{ venta.get_cart_total|intcomma }}</h2>
                        <h5 class="text-danger"><b class="text-dark">Total Dolares :</b> $ {{ venta.get_cart_total_dolares|intcomma }}</h5>
                        <h5 class="text-danger"><b class="text-dark">Total Bolivianos :</b> $ {{ venta.get_cart_total_bolivianos|intcomma }}</h5>
                    </div>
    
                    <div class="row mt-3">
                        <h5 class="text-dark">Cliente Seleccionado: 
                            <b class="text-primary">
                            {{ venta.cliente }}
                            </b>
                        </h5>
                        <!-- Modal de clientes -->
                        <div class="modal fade" id="modalClientes" tabindex="-1" role="dialog" aria-labelledby="modalClientesLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-scrollable" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title text-primary" id="modalClientesLabel">Seleccionar cliente</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="post">
                                            <h5>Seleccionar cliente:</h5>
                                            {% csrf_token %}
                                            <select name="id_cliente" class="form-control">
                                                {% for cliente in lista_clientes %}
                                                    <option value="{{ cliente.id }}">{{ cliente.nombre }}</option>
                                                {% endfor %}
                                            </select>
                                            <br>
                                            <button type="submit" class="btn btn-primary">Guardar</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row" style="align-items: center;margin: 20px;">             
                        <button class="btn btn-outline-primary" type="button" data-toggle="modal" data-target="#modalClientes">
                            Buscar cliente <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>

                <!-- Colocar el botón a la izquierda -->
                <div class="col-6 text-center">
                    <div class="container mt-3 text-dark">

                        <div class="row" style="margin: 15px;">
                            <button class="btn btn-success" data-toggle="" data-target="/producto/create">
                                <b style="font-size: large;"><a href="/" style="color: aliceblue; text-decoration: none;">Agregar productos</a></b>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body">
                
                {% if data.eliminado %}
                <p class="text-success text-center">
                    {{ data.eliminado }}
                </p>
            {% endif %}
            <div class="row justify-content-center">
                <div class="row card" style="border: none;">
                    <table class="table">
                        <thead class="bg-primary" style="color: aliceblue;">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Producto</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Precio P/U</th>
                            <th scope="col">Total</th>
                            <th scope="col">Moneda</th>
                            {% if venta.estado == venta.ESTADO_CREADA %}
                                <th class="text-center" scope="col"></th>
                                <th class="text-center" scope="col"></th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for detalle in lista_detalle %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ detalle.producto.nombre }}</td>
                                <td>{{ detalle.cantidad|intcomma }}</td>
                                <td>$ {{ detalle.precio|intcomma }}</td>
                                <td>$ {{ detalle.get_total|intcomma }}</td>
                                <td>{{ detalle.moneda }}</td>
                                {% if venta.estado == venta.ESTADO_CREADA %}
                                    <td>
                                        <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modalModificar{{ detalle.id }}" data-detalle-id="{{ detalle.id }}">
                                            Editar
                                        </button>
                                        <!-- Modal de modificación -->
                                        <div class="modal fade" id="modalModificar{{ detalle.id }}" tabindex="-1" role="dialog" aria-labelledby="modalModificarLabel{{ detalle.id }}" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title text-primary" id="modalModificarLabel{{ detalle.id }}">Modificar item de carrito </h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form method="post">
                                                            <h5>Producto: <b class="text-danger">{{ detalle.producto.nombre }}</b></h5>
                                                            <h5>Descripcion: <b class="text-danger">{{ detalle.producto.descripcion }}</b></h5>
                                                            <h5>Cantidad Actual: <b class="text-danger">{{ detalle.cantidad }}</b></h5>
                                                            <h5>Precio Actual: <b class="text-danger">{{ detalle.precio }}</b></h5>
                                                            <h5>Moneda: <b class="text-danger">{{ detalle.moneda }}</b></h5>
                                                            <br>
                                                            {% csrf_token %}
                                                            <input type="hidden" name="detalle_id" value="{{ detalle.id }}">
                                                            <div class="form-group">
                                                                <label for="nueva_cantidad">Nueva cantidad:</label>
                                                                <input type="number" name="nueva_cantidad" class="form-control" value="{{ detalle.cantidad|floatformat:0 }}">
                                                            </div>
                                                            <div class="form-group text-center">
                                                                <label for="nuevo_precio">Nuevo precio:</label>
                                                                <input type="number" name="nuevo_precio" class="form-control" value="{{ detalle.precio }}">
                                                            </div>
                                                            <br>
                                                            <button type="submit" class="btn btn-primary">Guardar cambios</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </td>
                                    <td class="text-center">
                                        <form id="detalle{{ detalle.id }}" action="" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="detalle_id_delete" id="detalle_id_delete" value="{{ detalle.id }}">
                                            <button name="btnquitardecarrito{{ detalle.id }}" type="submit"
                                                    class="btn btn-danger btn-sm">
                                                    Eliminar
                                            </button>
                                        </form>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="row card" style="border: none;">
                <div class="mt-4">
                    {% if lista_detalle %}
                        <form action="" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="id_venta" value="{{ venta.id }}">
        
                            {% if venta.estado == venta.ESTADO_CREADA %}
                            <!--<a class="btn btn-danger" href="{% url 'venta:anular' venta.id %}">Cancelar venta</a>-->
                                <input name="pagar" type="submit" class="btn btn-success btn-lg" value="Cerrar Carrito">
                                
                            {% endif %}
                            {% if venta.estado == venta.ESTADO_PAGADA %}
                                  <!-- <a class="btn btn-danger" href="{% url 'venta:anular' venta.id %}">Anular venta</a>--> |
                                <input name="finalizar" type="submit" class="btn btn-success btn-lg" value="Nueva venta"> |

                                <a class="btn btn-primary" style="margin: 15px;"
                                            href="{% url 'venta:imprimir_ticket' venta.id %}">Imprimir</a>

                            {% endif %}
                            {% if venta.estado == venta.ESTADO_FACTURADA %}
                               <!-- <a class="btn btn-danger" href="{% url 'venta:anular' venta.id %}">Anular venta</a>--> |
                                <input name="finalizar" type="submit" class="btn btn-success btn-lg" value="Nueva venta">
                            {% endif %}
                            
                        </form>
                    {% endif %}
        
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>


<script>
    $(document).ready(function () {
        // When the modal is hidden, submit the form with the selected client
        $('#modalClientes').on('hidden.bs.modal', function () {
            $('#cliente-form').submit(); // Submit the form
        });
    });
</script>

</div>
{% endblock %}